.btn {
	background-color: #000000;
	padding: 15px;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	display: inline-block;
	border-radius: 5px;
	margin: 20px 0;

	a {
		color: #ffffff;
		text-decoration: none;
	}
}
